<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:simple="http://cxf.apache.org/simple"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://cxf.apache.org/simple http://cxf.apache.org/schemas/simple.xsd">

    <context:property-placeholder location="classpath:config/config.properties"/>

    <context:component-scan base-package="com.he.spring.web">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <!--**********************************************************************************************************************************
    ***********************************************服务端****************************************************************************
    **********************************************************************************************************************************-->
    <!--cxf配置 方式一-->
    <jaxws:server id="ws1" address="/ws1">
        <jaxws:serviceBean>
            <ref bean="serviceImpl"/>
        </jaxws:serviceBean>
    </jaxws:server>
    <!--cxf配置 方式二-->
    <jaxws:endpoint id="ws2" implementor="#serviceImpl" address="/ws2"/>
    <!--cxf配置 方式三 -->
    <simple:server id="ws3" serviceClass="com.he.spring.web.webservice.service.IService" address="/ws3">
        <simple:serviceBean>
            <ref bean="serviceImpl"/>
        </simple:serviceBean>
    </simple:server>
    <!--**********************************************************************************************************************************
    *****************************************************spring方式的客户端***********************************************************************
    **********************************************************************************************************************************-->
    <!--方式一-->
    <bean id="factoryBean1" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.he.spring.web.webservice.service.IService"/>
        <property name="address" value="http://localhost:8080/ws/ws1"/>
    </bean>
    <bean id="serviceImpl1" factory-bean="factoryBean1" factory-method="create"/>

    <bean id="factoryBean2" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.he.spring.web.webservice.service.IService"/>
        <property name="address" value="http://localhost:8080/ws/ws2"/>
    </bean>
    <bean id="serviceImpl2" factory-bean="factoryBean2" factory-method="create"/>

    <bean id="factoryBean3" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.he.spring.web.webservice.service.IService"/>
        <property name="address" value="http://localhost:8080/ws/ws3"/>
    </bean>
    <bean id="serviceImpl3" factory-bean="factoryBean3" factory-method="create"/>
    <!--方式二-->
    <jaxws:client id="serviceImpl11" serviceClass="com.he.spring.web.webservice.service.IService" address="http://localhost:8080/ws/ws1"/>
    <jaxws:client id="serviceImpl22" serviceClass="com.he.spring.web.webservice.service.IService" address="http://localhost:8080/ws/ws2"/>
    <jaxws:client id="serviceImpl33" serviceClass="com.he.spring.web.webservice.service.IService" address="http://localhost:8080/ws/ws3"/>
</beans>