<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" >
    <bean id="spring" class="com.he.spring.he.Person">
        <property name="name" value="何彦静spring"/>
        <property name="age" value="28"/>
    </bean>
</beans>