<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task" xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        Spring 自3.0版本以后便自带的task，可以将它看成一个轻量级的Quartz，而且使用起来比Quartz简单许多
        开启5个线程池给注解用； 默认只有一个线程，当多个任务同时执行时，只能一个执行完成后才能再执行另一个； 多个线程时.每个任务使用一个线程 ；
        注解模式或xml模式中的表达式可以使用配置文件中的属性
    -->


    <!--
        多任务，注解模式
        <task:scheduler id="multask" pool-size="5"/>
        <task:annotation-driven scheduler="multask"/>
    -->
    <!--
        多任务，xml模式
        xmlMulTask注解扫描的相当于下面的手动注入xmt
        <bean id="xmt" class="com.he.spring.web.task.XmlMulTask"/>


    <task:scheduler id="taskscheduler" pool-size="5"/>
    <task:scheduled-tasks scheduler="taskscheduler">
        <task:scheduled ref="xmlMulTask" method="test1" cron="*/7 * * * * ? "/>
        <task:scheduled ref="xmlMulTask" method="test2" cron="*/9 * * * * ? "/>
        <task:scheduled ref="xmlMulTask" method="c3p0" cron="*/10 * * * * ? "/>
    </task:scheduled-tasks>
    -->

</beans>
